html, body, #contain{
  padding: 0;
  margin: 0;
}

.makeUserName #createUserName {
  display: flex;
}
.makeUserName #contain {
  display: none;
}

#createUserName {
  display: none;

  align-items: center;
  justify-content: center;
  height: 100vh;
  background: #cfd8dc;
}

#main {
  padding: 1em;
  background: #fafafa;
}

#sidebar {
  background: #424242;
  color: white;
  height: 100vh;
}

#sidebar .collection {
  border: none;
}

.bubble {
  margin-left: 1em;
  margin-right: 1em;
}

.bubble-left {
  border-radius: 20px 20px 20px 5px;
  margin-right: 2em;
}

.bubble-right {
  border-radius: 20px 20px 5px 20px;
  margin-left: 2em
}
